<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: #003147;">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="job-sec">
            <div>
                <H1><span></span>Latest Jobs</H1>
                <div class="imgbox"><img src="../../assets/img/job.png"></div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Date</th>
                        <th>Post</th>
                        <th>Post-Name</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Fee</th>
                        <th><span class="click"><i class="bi bi-globe"></i></span></th>
                    </tr>
                </thead>
                <% if(records.length> 0){ let i=1 %>
                    <% records.forEach(function(row){ %>
  
                <tbody>
                    <tr>
                        <td><%= i %></td>
                        <td style="font-size: 0.8em;"><%= row.date %></td>
                        <td><%= row.post %></td>
                        <td><%= row.postname %></td>
                        <td><%= row.title %></td>
                        <td><span><%= row.fdate %></span><span>-</span><span style="color: orange;"><%= row.tdate %></span></td>
                        <td><span class="fee">Gen - <%= row.gfee %> &#8377;</span><span class="fee">OBC - <%= row.ofee %> &#8377;</span><span class="fee">SC - <%= row.scfee %> &#8377;</span><span class="fee">ST - <%= row.stfee %> &#8377;</span><span class="fee">PH - <%= row.pfee %> &#8377;</span><span class="fee">EWS - <%= row.efee %> &#8377;</span></td>
                        <td><span class="click"><i class="bi bi-hand-index-thumb"></i></span></td>
                    </tr>
                    <% i=i+1; }) %>
                        <% }else{ %>
                          <tr>
                            <td colspan="5">No records found</td>
                          </tr>
                          <% } %>
                </tbody>
            </table>
        </section>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
    <!-- slide swiper javascript -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/javaScript.js"></script>
</body>

</html>